{% extends "base_mcindoe.html" %}
{% load staticfiles %}

{% block head %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script src="{% static 'gallery/galleria/galleria-1.3.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'gallery/gallery.css' %}" />

{% endblock head %}

{% block container %}
{% block content %}

<div class="container infocontainer center">


{##}
{#{% for i in pictures %}#}
{#<p>{{ i.picture.url }}</p>#}
{##}
{#<img src="{{ i.picture.url }}" />#}
{#{% endfor %}#}

    <div id="galleria" class="center">
{#        {% for i in pictures %}#}
{#            <img src="{{ i.picture.url }}" />#}
{#        {% endfor %}#}
        <img src='http://192.168.1.119/media/gallery/GalleryImages/3.jpg'>
        <img src='http://192.168.1.119/media/gallery/GalleryImages/3.jpg'>
{#        <img src={% static 'gallery/GalleryImages/3.jpg' %}>#}
{#            <img src={% static "gallery/GalleryImages/4.jpg" %}>#}
{#            <img src="static/gallery/static/gallery/GalleryImages/4.jpg">#}

    </div>
    <script>
        Galleria.loadTheme("{% static 'gallery/galleria/themes/bv/galleria.bv.min.js' %}");
        Galleria.run('#galleria');
    </script>
</div>

{% endblock content %}
{% endblock container %}

