{% load staticfiles %}
<head>


<script type="text/javascript">

var imgHolder;
var picNumber = 0;
window.onload = function (){

imgHolder = document.getElementById('img');
// preload images
images = new Array();
images[0] = new Image();
images[0].src ="{% static 'img/tumblr-icon.png' %}";
images[1] = new Image();
images[1].src ="{% static 'img/twitter-icon.png' %}";
images[2] = new Image();
images[2].src ="{% static 'img/LlamaFavicon.png' %}";
images[3] = new Image();
images[3].src ="{% static 'img/bv-email.png' %}";
}



function prev(){
    if(picNumber == 0){
        picNumber = 3;
        imgHolder.src = images[picNumber].src;}
    else{
        picNumber--;
        imgHolder.src = images[picNumber].src;}
}


function next(){
    if(picNumber == 3){
        picNumber = 0;
        imgHolder.src = images[picNumber].src;}
    else{
        picNumber++;
        imgHolder.src = images[picNumber].src;}
}



</script>
</head>

<body>
<div id="imageContainer"><img id="img" src="{% static 'img/bv-email.png' %}" alt="image" title="image"/></div>
<a href="JavaScript:next()" title="Next">Next</a><a href="JavaScript:prev()" title="Previous">Previous</a>

</body>
