/*
Notes:
Style design BenjaminVandersteen@gmail.com Aug 2013
vm + vmin included for cross browser compatability (looking at you IE)
Page should scale to browser size, especially when vh vmin vmax (viewport size) is adopted by all
*/

/*Generic*/
* {
    font-family: "Avantgarde";
    font-family: "Arial";
    font-size: 1vm;
    font-size: 1vmin;
}

/*Body*/
body {
    background: url('img/white.png') no-repeat center center fixed ;
    background-size: cover ;
}

/*TextDefs*/
h1 {

}

h2 {
    text-transform:uppercase;
    font-weight:normal;
    font-size: 7vm;
    font-size: 7vmin;
    margin-top: 40vh;
    margin-bottom: 1vh;
    position: relative;
}

h3 {
    margin-top: 1vh;
    text-transform:capitalize;
    font-weight:normal;
    font-size: 2.5vm;
    font-size: 2.5vmin;
}

/* Divs */

/*#ComingSoon {*/
    /*position: absolute;*/
/*}*/

.SocMed {
    position: absolute;
;
}


img {
    height: vmin; 
    width: 7vmin;
    width: 7vmin;
    height: 7vm;
}


/* Social Media Icons */




/* Generic Helpers */

.center_text{
    text-align:center;
}
