{% extends "infopage_mcindoe.html" %}

{% block head %}
    <title>{{ global_site.name }} - Blog</title>
    <meta name="keywords" content="blog, information, posts, musings, thoughts">
    <meta name="description" content="Official blog by McindoeDesign, contains all posts">
{% endblock head %}

{% block content %}
<content>

<p>
    <h3>Blog:</h3>
</p>
<p>
    <h5>{{ blog.intro }}</h5>
</p>


{% for i in posts %}
    <p>{{ i.created|date:"l, F d, o"}}</p>
    <b>{{ i.title }}</b>
    <p>{{ i.content }}</p>
    <p>Posted by {{ i.userid|capfirst }} at {{ i.created|time:"H:i" }}</p>
{% endfor %}





</content>
{% endblock %}
