/*
Notes:
Style design BenjaminVandersteen@gmail.com Aug 2013
vm + vmin included for cross browser compatability (looking at you IE)
Page should scale to browser size, especially when vh vmin vmax (viewport size) is adopted by all
*/

/*Generic*/
* {
    font-family: "Avantgarde";
    font-family: "Arial";
    font-size: 1vm;
    font-size: 1vmin;
}


/*Body*/
body {
    background: no-repeat center center fixed ;
    background-size: cover ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}


/*TextDefs*/
h1 {

}

h2 {
    text-transform:uppercase;
    font-weight:normal;
    font-size: 7vm;
    font-size: 7vmin;
    margin-top: 40vh;
    margin-bottom: 1vh;
    position: relative;
}

h3 {
    margin-top: 1vh;
    text-transform:capitalize;
    font-weight:normal;
    font-size: 2.5vm;
    font-size: 2.5vmin;
}

/* Divs */

/*#ComingSoon {*/
    /*position: absolute;*/
/*}*/


/*footer*/
footer {
    /*text-align:center;*/
    display: block;
    position:fixed;
    /*left:50vw;*/
    /*right:50vw;*/
    /*align:middle;*/
    width: 100vw;
    bottom:0px;
    margin-left: auto;
    margin-right: auto;
    /*right:auto;*/
    /*height:7vm;*/
    /*width:auto;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
}


/* Social Media Icons */

/*.SocMed {*/
    /*position: absolute;*/
/*}*/

img.socMed {
    height: 7vmin;
    width: 7vmin;
    width: 7vmin;
    height: 7vm;
}

img.socMedVert {
    height: 7vmin;
    width: 7vmin;
    width: 7vmin;
    height: 7vm;
}


/* Generic Helpers */

.center_text{
    text-align:center;
}

img.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img.toucan{
    margin-bottom: 0px;

}

img.agcb{
    position: relative;
    top: -200px;
    left: -95px;
    width: 600px;
    height: 39px;
}

div.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.container{
    position: relative;
    top: -40px;
    background-color: white;
    border: 1px solid black;
    width: 804px;
    height: auto;
    }

div.infocontainer{
    height: 45vh;
    overflow: auto;

}