{% load staticfiles %}

{#<img class="center agcb"  src="{% static 'img/agbc.png' %}" alt='agbc' />#}


<div style="text-align:center; width:724px; margin-left:auto; margin-right:auto;">
    <img class="center agcb" id="agcb-map" src="{% static 'img/agbc.png' %}" usemap="#agcb-map" border="0" width="724" height="49" alt="" />
        <map id="_agcb-map" name="agcb-map">
            <area shape="rect" coords="0,0,120,44" href="http://www.mcindoedesign.com/about" alt="about" title="about"    />
            <area shape="rect" coords="140,0,300,44" href="http://www.mcindoedesign.com/gallery" alt="gallery" title="gallery"    />
            <area shape="rect" coords="320,0,410,44" href="http://www.mcindoedesign.com/blog" alt="blog" title="blog"    />
            <area shape="rect" coords="430,0,712,44" href="http://www.mcindoedesign.com/contact" alt="contact" title="contact"    />
        </map>
</div>