{% extends "base.html" %}

{% load staticfiles %}



{% block sitespec %}

<body style="background-image:url( {% static "img/wtrans-small.png" %} )">

    {% block header %}{% include 'header_mcindoe.html' %}{% endblock %}

    <div class="logo center">
        <a href="http://mcindoedesign.com">
{#            MAKE THE ABOVE THE SITE NAME variable#}
            <img class="center toucan logo" src="{% static 'img/touse/logo.png' %}" alt='logo'  />
        </a>
    {% include 'menus/top.html' %}
    </div>
    {% block container %}{% endblock %}


    {% block footer %}{% include 'footer_mcindoe.html' %}{% endblock %}
</body>
{% endblock %}

