{% load staticfiles %}
<div id="SocMed" class='center_text'>
    <a href="{{ global_site.twitter }}" target="_blank"><img src="{% static "img/twitter-icon.png" %}" class = 'socMed' /></a>
    <a href="{{ global_site.tumblr }}" target="_blank"><img src="{% static "img/tumblr-icon.png" %}" class = 'socMed' /></a>
    <a href="mailto:{{ global_site.email }}" target="_blank"><img src="{% static "img/bv-email.png" %}" class = 'socMed' /></a>
    <!--<a href="https://twitter.com/maddymcindoe" class="twitter-follow-button" data-show-count="false" data-lang="en"><img src="static/twitter-icon.png"  /></a>-->
    <!--<a href="https://www.google.com.au/?&q=maddy+mcindoe" target="_blank"><img src="../../static/contact/img/instagram.png"  /></a> -->
    <!--<a href="https://www.google.com.au/?&q=maddy+mcindoe" target="_blank"><img src="../../static/contact/img/linkedin-icon.png" /></a> -->
</div>
