{% extends "infopage_mcindoe.html" %}

{% block head %}
    <title>{{ global_site.name }} - About</title>
    <meta name="keywords" content="about, information, details, origin, inception">
    <meta name="description" content="About page describing inception and creation process by McindoeDesign">
{% endblock head %}

{% block content %}
<content>

<p>
<h3>Here's the about page</h3>
<h4>{{ about.intro }}</h4>
<h4>{{ about.maintext }}</h4>
<h4>{{ about.outro }}</h4>



</p>
</content>
{% endblock %}
