{% extends "infopage_mcindoe.html" %}

{% block head %}
    <title>{{ global_site.name }} - About</title>
    <meta name="keywords" content="about, information, details, origin, inception">
    <meta name="description" content="About page describing inception and creation process by McindoeDesign">
{% endblock head %}

{% block content %}
<content>
<div style="margin-left: 20px">
<p>
{#<h3>Here's the about page</h3>#}
<h4>{{ about.intro }}</h4>
<h4>{{ about.maintext }}</h4>
<a href="https://twitter.com/mcindoedesign" class="twitter-follow-button" data-show-count="false" data-dnt="true">Follow @mcindoedesign</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
<h4>{{ about.outro }}</h4>



</p>
    </div>
</content>
{% endblock %}
