<!--<!DOCTYPE html>-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html>
<head>
    {% load staticfiles %}

    <link rel="stylesheet" type="text/css" href="{% static 'contact/style.css' %}" />
    <script type='text/javascript' src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> <!-- CDN-->
    <script type='text/javascript' src="../../static/contact/scripts.js"></script>
    <link type="text/javascript" src="{% static 'contact/scripts.js' %}" />
    <link rel="shortcut icon" href="{% static 'contact/img/LlamaFavicon.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'contact/img/LlamaFavicon.png' %}" />
    <title>McIndoe</title>
</head>

<body>


    <div id="CenteredTitle">
        <h2 class="center_text">
            <div id="SocMed">
<!--                <a href="https://twitter.com/maddymcindoe" class="twitter-follow-button" data-show-count="false" data-lang="en"><img src="static/twitter-icon.png"  /></a>-->
                <a href="https://www.twitter.com/maddymcindoe" target="_blank"><img src="../../static/contact/img/twitter-icon.png"  /></a>
                <a href="https://www.google.com.au/?&q=maddy+mcindoe" target="_blank"><img src="../../static/contact/img/instagram.png"  /></a>
                <a href="https://www.google.com.au/?&q=maddy+mcindoe" target="_blank"><img src="../../static/contact/img/linkedin-icon.png" /></a>
                <a href="https://www.google.com.au/?&q=maddy+mcindoe" target="_blank"><img src="../../static/contact/img/tumblr-icon.png" /></a>
            </div>
            mcindoe
        </h2>
        <h3 class="center_text">
            (coming soon)
        </h3>

    </div>
</body>
<!--Social media icon set from http://www.brainleaf.eu/-->
<!--Page design BenjaminVandersteen@gmail.com Aug 2013-->
</html>
